@{
    ViewData["Title"] = "AnalizPEM";
    //ViewBag.RepList = @nadis.DAL.nadis.spDAL.ReportToToday();
}
<table style="border-collapse: collapse;" border="0">
<tbody>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td style="text-align: right;"><form>
                @Html.DropDownList("dt",ViewBag.RepList as SelectList)
                <input type="hidden" id="tip" name="tip" value="month">
                <input type="hidden" id="ReportName" name="ReportName" value="PEM">
                <input type="submit" value="Отчет ПЭМ" asp-controller="Reports"
                    asp-action="GetReport" method="GET"
                    asp-route-dt="dt" 
                    asp-route-tip="tip"
                    asp-route-ReportName="ReportName"
                    class="btn btn-success"/>
       </form>
</td>
</tr>
</tbody>
</table>
